table {
    width: 100%;
    border-collapse: collapse;
    height: 65vh;
}

th,
td {
    border: 1px solid #ca3120;
    padding: 10px;
    text-align: center;
}

.celda {
    height: 50px;
}

thead th {
    background-color: #f4f4f4;
    font-weight: bold;
}