table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.celda {
    height: 50px;
    /* Puedes agregar más estilos personalizados para las celdas */
}

thead th {
    background-color: #f4f4f4;
    font-weight: bold;
}