<!-- src/app/components/agregar-horario/agregar-horario.component.html -->
<form (ngSubmit)="onSubmit()" #horarioForm="ngForm">
    <mat-form-field>
        <mat-label>Horario</mat-label>
        <input matInput [(ngModel)]="nuevoHorario.hora" name="hora" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lunes</mat-label>
        <input matInput [(ngModel)]="nuevoHorario.lunes" name="lunes">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Martes</mat-label>
        <input matInput [(ngModel)]="nuevoHorario.martes" name="martes">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Miercoles</mat-label>
        <input matInput [(ngModel)]="nuevoHorario.miercoles" name="miercoles">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Jueves</mat-label>
        <input matInput [(ngModel)]="nuevoHorario.jueves" name="jueves">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Viernes</mat-label>
        <input matInput [(ngModel)]="nuevoHorario.viernes" name="viernes">
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!horarioForm.form.valid">Guardar Horario</button>
    <button mat-button type="button" (click)="borrarCampos()">Borrar Campos</button>
</form>

