<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar> 
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Materias</span>
    </mat-toolbar>
    <app-header></app-header>
    <app-navbar></app-navbar>

    <div class="main-content">
      <router-outlet>
      </router-outlet>
    </div>
    
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
