<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over">
    <app-sidebar></app-sidebar> 
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header></app-header>
<app-navbar></app-navbar>
    <mat-toolbar>
      
      <button mat-icon-button (click)="sidenav.toggle()">
        
        <mat-icon>menu</mat-icon>
      </button>
      <span>Materias</span>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet>
      <app-administrar-materias></app-administrar-materias>
      <app-convertidor-fechas></app-convertidor-fechas>
      <app-horario-grilla></app-horario-grilla>
      </router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>


