.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 300px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ca3120;
  color: #ca3120;
}


.section-content {
  background-color: #ca3120;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}