<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Iniciar Sesión</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput [(ngModel)]="username" name="username" required>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [(ngModel)]="password" name="password" type="password" required>
                </mat-form-field>

                <div class="login-actions">
                    <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>