.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-card {
    width: 480px;
    padding: 30px;
}

.mat-card-title {
    text-align: center;
}

.login-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

mat-form-field{

    width: 100%;

}