<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <table>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let dia of dias">Lunes</th>
        <th *ngFor="let dia of dias">Martes</th>
        <th *ngFor="let dia of dias">Miercoles</th>
        <th *ngFor="let dia of dias">Jueves</th>
        <th *ngFor="let dia of dias">Viernes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hora of horas">
        <td>8:00</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
      <tr *ngFor="let hora of horas">
        <td>8:40</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
      <tr *ngFor="let hora of horas">
        <td>9:20</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
      <tr *ngFor="let hora of horas">
        <td>10:00</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
      <tr *ngFor="let hora of horas">
        <td>10:40</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
      <tr *ngFor="let hora of horas">
        <td>11:20</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
      <tr *ngFor="let hora of horas">
        <td>12:00</td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda">Programacion II</div>
        </td>
        <td *ngFor="let dia of dias">
          <div class="celda"></div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <app-root></app-root>
  <mat-divider></mat-divider>
</body>

</html>
